body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  color: #33d033;
  font-size: 18px;
  font-weight: light;
  font-family: "Commodore 64 Pixelized", monospace;
  position: relative;
}

.matrix-text {
  opacity: 0.9;
  position: fixed;
  top: 200px;
  left: 100px;
}

@media screen and (max-width: 768px) {
  .matrix-text {
    left: 20px;
    font-size: 14px;
  }
}

.hide-cursor::after {
  content: none;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.matrix-text:not(.hide-cursor)::after {
  animation: blink 0.5s infinite;
}

.matrix-text::after {
  content: "_";
  font-weight: bold;
  opacity: 0;
}

.rabbit-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-rabbit {
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  opacity: 0;
  transition: opacity 2s ease;
}

.white-rabbit.visible {
  opacity: 1;
}

.rabbit-message {
  font-weight: bold;
  padding: 20px;
  display: none;
  color: #05f2db;
  background: rgba(14, 6, 26, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(42, 12, 86, 0.7);
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  z-index: 10;
}
